@model PushNotificationsHandler.Models.IndexViewModel

@{
    ViewBag.Title = "Esendex Push Notifications - A demonstration.";
    
}

<div class="jumbotron">
    <h1>Animate My SMS!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="h3">
            Inbound Messages
        </h3>
        @if (Model.InboundMessages.Any())
        {
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Message Text
                    </th>
                    <th>
                        Source
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var message in Model.InboundMessages)
                {
                    <tr>
                        <td>
                            @Html.Raw(message.FormatContent())
                        </td>
                        <td>
                           <span style="padding: 2px; background: @message.Source.BrandingColourRgb; color: white">@message.Source.Description</span> 
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>
    <div class="col-md-4">
        <h3 class="h3">
            Delivery Notifications
        </h3>
        @if (Model.DeliveryNotifications.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Delivered Message Text
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var notification in Model.DeliveryNotifications)
                    {
                        <tr>
                            <td>
                                @notification.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
       
    </div>
</div>